apiVersion: 1

policies:
  - orgId: 1
    receiver: Email Alerts
    group_by:
      - grafana_folder
      - alertname
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
    routes:
      - receiver: Email Alerts
        object_matchers:
          - ['severity', '=', 'critical']
        group_wait: 10s
        group_interval: 5m
        repeat_interval: 1h
      - receiver: Email Alerts
        object_matchers:
          - ['severity', '=', 'warning']
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 4h
